# Binary files
dmenu/dmenu
dmenu/stest
dwm/dwm
pinentry-dmenu/pinentry-dmenu
slock/slock
slstatus/slstatus
st/st
sfeed/sfeed
sfeed/sfeed_atom
sfeed/sfeed_frames
sfeed/sfeed_gopher
sfeed/sfeed_html
sfeed/sfeed_mbox
sfeed/sfeed_opml_export
sfeed/sfeed_opml_import
sfeed/sfeed_plain
sfeed/sfeed_twtxt
sfeed/sfeed_update
sfeed/sfeed_web
sfeed/sfeed_xmlenc

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
